
.imgFondoCheck{
  background-image: url("../svg/check_gray.svg");
  background-position-x:center;
  background-position-y:center;
  background-repeat:no-repeat;
}
.imgFondoFalse{
  background-image: url("../svg/false_gray.svg");
  background-position-x:center;
  background-position-y:center;
  background-repeat:no-repeat;
}
.fill{
overflow:hidden;
cursor: pointer;
}
.fill:hover{
-webkit-transform:scale(1.1);
transform:scale(1.1);
transition-duration: 0.5s;
}
.hold{
  border:solid #ccc 4px;
}
.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible{
  display:none;
}
.correctoGreen{
  /* background: #00AA00; */
  background-image: url("../svg/check.svg");
  background-position-x:center;
  background-position-y:center;
  background-repeat:no-repeat;
}
.correctoRed{
  /* background: #00AA00; */
  background-image: url("../svg/check_red.svg");
  background-position-x:center;
  background-position-y:center;
  background-repeat:no-repeat;
}
.incorrectoGreen{
  /* background: red; */
  background-image: url("../svg/false_green.svg");
  background-position-x:center;
  background-position-y:center;
  background-repeat:no-repeat;
  /* border-top: 6px solid #CF3721; */
}
.incorrectoRed{
  /* background: red; */
  background-image: url("../svg/false.svg");
  background-position-x:center;
  background-position-y:center;
  background-repeat:no-repeat;
  /* border-top: 6px solid #CF3721; */
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .2s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}
.overly {
	width: 100%;
	height: 120%;
	display: none;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	position:fixed;
	z-index: 99999;
	cursor: pointer;
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.retro{
  position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	display:none;
	z-index: 100000;
	animation: fadeIn .5s ease-in 1 forwards;
}
.marco{
	width: 200px;
	height: 100px;
	background: #fff;
}


#final_ok {
    /* background: rgb(30, 164, 96); */

}

#final_ok p {
    /* color:#fff ; */
    text-align: center;
    /* padding: 10px 30px; */

}

#final_error {
    /* background: rgb(255,255,255); */

}

#final_error p {
    color:#000 ;
    text-align: center;
    padding: 10px 30px;

}
#faltan_x_rellenar {
    /* background: rgb(255,255,255); */

}

#faltan_x_rellenar p {
    color:#000 ;
    text-align: center;
    padding: 10px 30px;

}


.im {
	font-size: 14px;
	font-style: italic;
	color: #FF7979;

}

.error {
	border:1px solid #FC3B3B !important;
	background:#FFD5D5 !important;
}

/* .correcto {
	border:1px solid #39EF8F !important;
	background:#D5FFE3 !important;
}

.correcto:hover {
	border:1px solid #39EF8F !important;


	-webkit-transform: scale(1.0) !important;
	   -moz-transform: scale(1.0) !important;
	    -ms-transform: scale(1.0) !important;
	     -o-transform: scale(1.0) !important;
	        transform: scale(1.0) !important;
} */

.error:hover {


    border:1px solid #FC3B3B !important;
	-webkit-transform: scale(1.02) !important;
	   -moz-transform: scale(1.02) !important;
	    -ms-transform: scale(1.02) !important;
	     -o-transform: scale(1.02) !important;
	        transform: scale(1.02) !important;
}

.correcto:hover > label {
	color: #7b7b7b;

}

.error:hover > label {
	color: #7b7b7b;

}

.back {
	background:#A62E2E;
	padding:10px 20px;
	margin-left: 3em;
	margin-right: 3em;
	cursor:pointer;
	-webkit-transition: all .25s linear;
	   -moz-transition: all .25s linear;
	    -ms-transition: all .25s linear;
	     -o-transition: all .25s linear;
	        transition: all .25s linear;
}

.back:hover {
	background:#7A2222;
}

.estructuraPadre{
display: flex;
flex-direction: column;

}

.estructuraHijo{
	display: flex;
	justify-content: center;
}

/* css modal boostrap  correcto*/
.modal-confirm {
		color: #434e65;
		width: 525px;
	}
	.modal-confirm .modal-content {
		padding: 20px;
		font-size: 16px;
		border-radius: 5px;
		border: none;
	}
	.modal-confirm .modal-header {
		background: #47c9a2;
		border-bottom: none;
        position: relative;
		text-align: center;
		margin: -20px -20px 0;
		border-radius: 5px 5px 0 0;
		padding: 35px;
	}
	.modal-confirm h4 {
		text-align: center;
		font-size: 36px;
		margin: 10px 0;
	}
	.modal-confirm .form-control, .modal-confirm .btn {
		min-height: 40px;
		border-radius: 3px;
	}
	.modal-confirm .close {
        position: absolute;
		top: 15px;
		right: 15px;
		color: #fff;
		text-shadow: none;
		opacity: 0.5;
	}
	.modal-confirm .close:hover {
		opacity: 0.8;
	}
.modal-confirm .icon-box {
		color: #fff;
		width: 95px;
		height: 95px;
		display: inline-block;
		border-radius: 50%;
		z-index: 9;
		border: 5px solid #fff;
		padding: 15px;
		text-align: center;
	}
	.modal-confirm .icon-box i {
		font-size: 64px;
		margin: -4px 0 0 -4px;
	}
	.modal-confirm .modal-dialog {
		/* margin-top: 80px; */
	}
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
		background: #eeb711;
		text-decoration: none;
		transition: all 0.4s;
        line-height: normal;
		border-radius: 30px;
		margin-top: 10px;
		padding: 6px 20px;
        border: none;
    }
	.modal-confirm .btn:hover, .modal-confirm .btn:focus {
		background: #eda645;
		outline: none;
	}
	.modal-confirm .btn span {
		margin: 1px 3px 0;
		float: left;
	}
	.modal-confirm .btn i {
		margin-left: 1px;
		font-size: 20px;
		float: right;
	}
	.modal-confirm a{
		color: white;
	}
/* css boostra modal incorrecto */

.modal-confirm-error {
	color: #636363;
	width: 400px;
}
.modal-confirm-error .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
			text-align: center;
	font-size: 14px;
}
.modal-confirm-error .modal-header {
	border-bottom: none;
			position: relative;
}
.modal-confirm-error h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm-error .close {
			position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm-error .modal-body {
	color: #999;
}
.modal-confirm-error .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm-error .modal-footer a {
	color: #999;
}
.modal-confirm-error .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm-error .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
	.modal-confirm-error .btn {
			color: #fff;
			border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
			line-height: normal;
	min-width: 120px;
			border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
	outline: none !important;
	}
.modal-confirm-error .btn-info {
			background: #c1c1c1;
	}
	.modal-confirm-error .btn-info:hover, .modal-confirm .btn-info:focus {
			background: #a8a8a8;
	}
	.modal-confirm-error .btn-danger {
			background: #f15e5e;
	}
	.modal-confirm-error .btn-danger:hover, .modal-confirm .btn-danger:focus {
			background: #ee3535;
	}
	/*
	Full screen Modal
	*/
